rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Workers can only update their own locations. Clients can only read.
    match /workerLocations/{userId} {
      // Anyone can read (so Seekers can get the data)
      allow read: if true;
      
      // Allow write since custom auth is used
      allow write: if true;
    }

    // Default catch-all (adjust for other collections)
    match /{document=**} {
      allow read, write: if true; 
    }
  }
}
